.site-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    flex-shrink: 0;
    padding: 0.5rem;
}

.site-footer .social {
    padding-right: 6rem;
}

.site-footer .social ul {
    display: flex;
}

.site-footer .social ul li {
    display: block;
    transition: transform 0.3s ease-in-out;
}

.site-footer .social ul li:hover {
    transform: scale(1.3);
}

.site-footer .social ul li a {
    text-decoration: none;
    padding: 1rem 1.5rem;
    color: white;
    font-size: 25px;
}

.site-footer .info {
    padding-left: 6rem;
}
